@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@layer base {
  * {
    scrollbar-width: thin;
    scrollbar-color: #cbd5e1 transparent;
  }

  .dark * {
    scrollbar-color: #374151 transparent;
  }

  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #cbd5e1;
    border-radius: 20px;
  }

  .dark ::-webkit-scrollbar-thumb {
    background-color: #374151;
  }
}

body {
  overflow: hidden;
}

